---
layout: clean
title: Tong Han | CV
before-pubs:
  -
    heading: Education
    items:
      -
        title: M.S
        year: 2018
        detail: North China Electric Power University
      -
        title: B.E
        year: 2015
        detail: North China Electric Power University
  -
    heading: Research Experience
    items:
      -
        title: False data injection attacks against cyber-physical pwer systems and its countermeasures
        year: 2017 - 2018
      -
        title: Optimal dispatch of the fengning pumped-storage hydro plant
        year: 2016
      -
        title: Application of dynamic VAR compensators in the Beijing 220KV transmission grid
        year: 2015 - 2016
      -
        title: Fundamental research of VSC-HVDC
        year: 2015 - 2015

after-pubs:
  -
    heading: Selected Awards 
    items:
      -
        title: Postgraduate national scholarship
        year: 2016
        detail: Awarded to the top 0.2% of national postgraduates
      -
        title: National scholarship
        year: 2014
        detail: Awarded to the top 0.2% of national undergraduates.
      -
        title: National encouragement scholarship
        year: 2013
        detail: Awarded to the top 3% of national undergraduates
      -
        title: Outstanding graduate student
        year: 2015
      -
        title: Merit student
        year: 2012 & 2013
      -
        title: The first prize scholarship
        year: 2012, 2014, 2016 & 2017
      -
        title: Second prize of China Undergraduate Mathematical Contest in Modeling
        year: 2014
      -
        title: Excellent level of National Training Program of Innovation and Entrepreneurship for Undergraduates
        year: 2014
      -
        title: Honorable Mention of MCM/ICM
        year: 2013

---
<div class="page-header">
  <h3>Tong Han</h3>
</div>

{% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences' %}
{% include cv-list.html categories=page.after-pubs %}


