---
layout: default
title: Tong Han | Publications
picture: inchcolm
---
<div class="page-header">
  <h3>Publictions</h3>
</div>

<h4>Papers Under Review</h4>

<hr style="border:0.5px dashed #e8e8e8; height:0px">

<h4>Journal</h4>
{% for post in site.papers %}
  {% if post.venue == 'journal' %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}

<hr style="border:0.5px dashed #e8e8e8; height:0px">

<h4>Conference</h4>
{% for post in site.papers %}
  {% if post.venue == 'conference' %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


